@font-face {
    font-family: 'MyCustomFont';
    src: url('Stormfaze.otf')
}

body {
    background-color: #080c0e;
    font-family: 'MyCustomFont';
    color: white
}

a {
    text-decoration: none;
    color: white;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.information p {
    margin-left: 25px;
    margin-right: 25px;
}

.buttonControls, .buttonModes, .information {
    display: flex;
    justify-content: center;
}


.gridContainer {
    display: flex;
    flex-wrap: wrap;
    border: solid;
    border-color: #22303a;
    width: 600px;
    height: 600px;
}

.grid {
    width: 50px;
    height: 50px;
    box-sizing: border-box;
}


/* CSS */
.button {
  margin: 25px;
  background-color: #22303a;
  border-radius: 4px;
  border: 0;
  box-shadow: rgba(1,60,136,.5) 0 -1px 3px 0 inset,rgba(0,44,97,.1) 0 3px 6px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inherit;
  font-family: "MyCustomFont",-apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  min-height: 56px;
  min-width: 120px;
  padding: 16px 20px;
  position: relative;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  transition: all .2s cubic-bezier(.22, .61, .36, 1);
}

.button:hover {
  background-color: #334857;
  transform: translateY(-2px);
}

@media (min-width: 768px) {
  .button {
    padding: 16px 44px;
    min-width: 150px;
  }
}

.footer p {
    margin: 50px;
    text-align: center;
    font-size: 16px;
}